* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/fundo2.jpg');
  font-family: Arial;
  background-size: 100vw 100vh;
  height: 100vh; 
}

.logo {
  text-align: center;
  margin-top: 18vh;

}

.logo img {
  height: 40vh;
  width: auto;
}
  
@media screen and (min-width: 1100px){
  .site-title{
    font-size: 60px;
  }
  
  .site-subtitle{
    font-size: 30px;
  }
}

@media screen and (min-width: 450px) and (max-width: 850px) {
  .site-title{
    font-size: 40px;
  }

  .site-subtitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1100px){
  .site-title {
    font-size: 50px;
  }

  .site-subtitle {
    font-size: 25px;
  }
}

@media (max-width: 450px){
  .site-title{
    font-size: 28px;
  }

  .site-subtitle{
    font-size: 14px;
  }
}

header{
  height: 92.4vh;
  display: flex;
  justify-content: center;
}

.menu{
  background-color: rgba(255, 255, 255, 0.479);
  position: fixed;
  top: 0;
  height: 6.5vh;
  width: 100vw;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu a:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: rgb(247, 255, 255);
  text-decoration: none;
  transition: all 500ms;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  text-align: center;
  color: whitesmoke;
  
}

.site-title{
  font-family: 'Hind', sans-serif;
  line-height: 0.7em;
  margin-top: 5vh;
}

.site-subtitle {
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2em;
  justify-content: space-evenly;
  align-content: center;
}

footer {
  height: 7.6vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: black;
}

.contato a{
  font-size: 6.5vh;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(211, 215, 255, 0.7);
}
