* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
  }

body{
    background-image: url('../img/fundo2.jpg');
    font-family: Arial;
    background-size: 100vw 100vh;
    height: 100vh; 
  }

  header {
    height: 92.4vh;
  }
  
  @media screen and (min-width:1120px){
    .portfolio h2 {
      font-size: 50px;
    }

    .portfolio .grid {
      grid-template-columns: repeat(4, 260px);
    }
    
    footer {
      bottom: 0;
    }
  }

  @media screen and (min-width:850px) and (max-width: 1120px){
    .portfolio h2 {
        font-size: 42px;
      }
      
      .portfolio .grid {
        grid-template-columns: repeat(2, 350px);
        margin-bottom: 40px;
    }
}

@media screen and (min-width:650px) and (max-width: 850px){
    .portfolio h2 {
        font-size: 35px;
    }

    .portfolio .grid {
      grid-template-columns: repeat(2, 270px);
    }
}

@media screen and (max-width:650px){
    .portfolio h2 {
        font-size: 30px;
    }
}

.menu{
    background-color: rgba(255, 255, 255, 0.479);
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: rgb(247, 255, 255);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

.portfolio {
    padding: 2.5em;
    color: whitesmoke;
  }
  
  .portfolio h2 {
    text-align: center;
    margin-bottom: 1.6em;
    margin-top: 10vh;
    font-family: 'Hind', sans-serif;
  }
  
  .portfolio .grid {
    display: grid;
    gap: 2em;
    justify-content: center;
    align-content: center;
  }
  
  .portfolio figcaption {
    font-size: 1.6em;
    font-family: 'Hind', sans-serif;
  }
  
  .portfolio figure {
    text-align: center;
  }
  
  .img-portfolio {
    width: 250px;
    height: 166px;
  }

  footer {
    height: 50px;
    width: 100vw;
    position: absolute;
    background-color: black;
  }